 /*                     CSS Général                          */
html{
    min-height: 100%;
    
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #E7C7B3;
    font-family: Montserrat, "sans-serif";
    display: flex;
    justify-content: center;
    color: #303030;
}
html , body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body, .container{
    flex-grow: 1;
}

hr{
    color: #000;
    height: 0.25px;
    background-color: #000;
    border: 1px solid black;
    border-radius: 15px;
}
.titleDancingFont{
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}
.fontLobster{
    font-family: 'Lobster Two', cursive;
}
.fontLato{
    font-family: 'Lato', sans-serif;
}
p{
    font-family: 'Lato', sans-serif;
}
a{
    font-family: 'Lato', sans-serif;
}


/*                          CSS Header                          */
header {
    height: 100vh;
    position: relative;
}
header img{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../assets/fond-mobile.png");
    background-repeat: no-repeat;
    object-fit: cover;
}
.boxOpacityHeader{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, .5);
}





/*                              CSS Nav                            */
.wrapper{
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
    /*left: 0;*/
    right:0;
}
.menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
  /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid #000;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
    transform: translateY(-8px);
}
.menu-btn:after{
    transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
    border-color: #FDF7F7;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
    border-color: #FDF7F7;
}
.wrapper ul{
    position: absolute;
    top: 75%;
    left: 57.5%;
    height: 90%;
    width: 30%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.wrapper ul li{
    height: 10%;
    margin: 0;
}
.wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: #FDF7F7;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    opacity: 0;
    /*transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);*/
}
.wrapper ul li a:after{
    
    content: "";
    background: #FDF7F7;
    /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
    transform: scaleY(1);
}
.wrapper ul li a:hover{
    color: #0b0d0e;
}
input[type="checkbox"]{
    display: none;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

#active:checked ~ .wrapper ul li a{
    opacity: 1;
}
.wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	/*transform: none;*/
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
    transition-delay: .6s;
    transform: translateX(-100px);
}
.header-div-tablet {
    display: none;
}




/*                          CSS Homepage                                    */
.container{
    width: 80%;
    margin: 5% auto 0;
    

}
#subtitleTableauHome{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
}
#boxLogoTitreHome{
    text-align: center;
    width: 80%;
    margin: 0 auto ;
    
   
}
#subtitleHome{
    font-size: 3em;
}



#boxLogo {
        width:60%;
        height: auto;
        margin: 0 auto;
}


#boxLogo img {
    width: 100%;
}
#boxIntro{
    margin-bottom: 10%;
}

#boxIntro p{
    text-align: justify;
}
#boxIntro h1,h2{
        margin-bottom: 10%;
}

#boxTableauCartesHome{
    margin-top: 10%;
}
.tableauCartesHome{
    height: 30%;
    margin:0 auto 10%;
    border: 0.5px solid black;
    border-radius: 15px;
    padding-right: 1em;
    background-color: #FDF7F7;
    overflow: hidden;
    border-spacing: 0 ;
    background-size: cover ;
    background-repeat: no-repeat;
}

.imageTableauHome{
    width: 50%;
    margin: 0;
    padding: 0;
}
.imageTableauHome img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    
}
.texteTableauHome{
    text-align: center;
}
.lienInstrumentHome a{
    text-decoration: none;
    color: black;
    padding-left: 1em;

}

/*                          CSS Formulaire contact                          */


.pageContact{
    width: 90%;
    margin: 2.5% auto 5% ;
    background-color:#574D4D ;
    border: #574D4D 1px solid;
    border-radius: 15px;
}
.pageContact h1 {
    text-align: center;
}
.pageContact p {
    text-align: justify;
    width: 60%;
    margin: 0 auto;
}

#contactForm{
    width: 90%;
    margin: 10% auto 5% ;
}
.boxLabelInputContact{
    display: flex;
    flex-direction: column;
    color: #FDF7F7;
    margin-bottom: 1em;
}
.boxLabelInputContact label{
    text-transform: uppercase;
    margin-bottom: 0.25em;
}
.boxLabelInputContact input{
    height: 1.5em;
    border: #FDF7F7 1px solid;
    padding: 0 1em ;
    border-radius: 15px;

}
.boxLabelInputContact textarea{
    height: 15em;
    border: #FDF7F7 1px solid;
    padding: 0 1em ;
    border-radius: 15px;

}
#buttonContact{
    display: flex;
}
#contactForm button{
    
        border: #FDF7F7 0.5em solid;
        border-radius: 15px;
        color:#303030;
        margin: 2.5% auto 2.5%;
        text-transform: capitalize;
        font-size: 1.25em;
        font-weight: 600;
       
    
}
#adminForm{
    width: 50%;
    margin: 10% auto 5% ;
}
#buttonAdmin{
    height: 2em;
    border: #303030 0.5em solid;
    background-color: #303030;
    border-radius: 15px;
    color:#FDF7F7;
    margin: 2.5% auto 0;
    font-size: x-large;
}
.boxLabelInputAdmin{
    display: flex;
    flex-direction: column;
    color: #FDF7F7;
    margin-bottom: 1em;
    font-size: x-large;
}
.boxLabelInputAdmin label{
    text-transform: uppercase;
    margin-bottom: 0.25em;
}
.boxLabelInputAdmin input{
    height: 2.5em;
    border: #FDF7F7 0.5em solid;
    border-radius: 15px;
    font-size:large;

}
#adminPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}








    /*                  CSS Footer                  */


    footer{
        background-color: #574D4D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        color: #FDF7F7;
        
    }
    #logoFooter{
        width: 30%;
        
        margin: 0 auto;
    }
    #logoFooter img{
        width: 100%;
    }
    #boxLogoFooter{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    footer p {
        font-size: 1.5em;
        margin-top: 0;
    }
    #footNav{
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    #footNav a {
        text-decoration: none;
        margin-bottom: 20%;
        font-size: 2.5em;
        text-transform: capitalize;
        color: #FDF7F7;
    }
    #footerSocial{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
    }

/*                          CSS Article                             */
#boxPageArticle{
    width: 95%;
    background-color: #AFA7A7;
    margin: 5% auto 0;
    border-radius: 15px 15px 0 0 ;
}

#boxTableauCartesArticle{
    margin-top: 10%;
}
.tableauCartesArticle{
    width: 90%;
    height: 35vh;
    margin:10% auto 10%;

    border-radius: 15px;
    color: #FDF7F7;
}

.imageTableauArticle{
    width: 50%;
    
}
.titleTableauArticle{
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    font-size: 2em;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 2.5em;
    line-height: 2.5em;
    font-family: 'Lobster Two', cursive;
}
.imageTableauArticle img{
    width: 100%;
}
.texteTableauArticle{
    text-align: justify;
    padding: 0 1em;
    
    
}
.fondTableauArticle{
    background-color: rgba(0, 0, 0, .6);
    font-size: 1.5em;
    width: 100%;
    border-radius: 0 0 15px 15px;
}
#boxCategory {
    background-color: #D9D9D9 ;
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 15px 15px 0 0 ;
    
  }
  #boxCategory a{
    text-decoration: none;
    color: black ;
    margin: 0 2.5%;
    font-weight: 700;
    
  }
  #boxCategory a:active{
    background-color: #AFA7A7;
  }
  #boxCategory a:visited{
    background-color: #AFA7A7;
  }
  .linkArticle{
    color: #FDF7F7;
    text-decoration: none;
    padding: 0 1em;
  }





/*                                                                  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! CSS Tablette !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!                                                 */ 
@media screen and (min-width: 550px) and (max-width: 1023px)  {
/*                              CSS du header                                     */
    .header-mobile {
        display: none;
    }
    header img{
        display: none;
    }
    .menu-btn{
        display: none;
    }
    header{
        height: 20vh;
    }
    
    .header-div-tablet{
        margin: 0;
        width: 100%;
        min-height: 20vh;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../assets/fond-tablet.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*                                              CSS Nav                                             */
    .nav-desktop{
        margin-top:10vh;
        display: flex;
        align-items:flex-end;
        justify-content: space-evenly;
        
    }
    .nav-desktop a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1.75em;
        margin-left: 30px;
    }



                /*                          CSS Homepage                            */

    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #boxLogoTitreHome{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        text-align: left;
        height: 90%;
    }
    
    #boxIntro{
        text-align: left;
        
    }
    #boxLogo {
        width:125%;
        margin-right: 2.5%;
}
    
    #boxIntro p {
        text-align: justify;
        width: 90%;
    }
    
    #boxTableauCartesHome{
        margin: 0 auto;
    }
    
    .tableauCartesHome{
        width: 100%;
        height: 100%;
        
    
    }
    .imageTableauHome{
        height: 110%;
    }
    #boxTableauCartesHome{
        margin: 0 0 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5,1fr);
        gap: 2.5% 5%;
    }
    
    .texteTableauHome{
        text-align: justify;
    }


                /*                 CSS Footer               */
    
    #footNav{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 10%;
        align-self:center;
    }
    #footNav a{
        margin:0 0 2.5% 0;
    }
    #boxLogoFooter{
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: center;
        margin: 0;
    }
    #boxLogoFooter p{
        align-self: center;
    }
    #logoFooter{
        margin-top: 0;
        width: 20%;
        margin: 2.5% 5%;
    }
    footer{
        justify-content: space-around;
        
    }
    #footerSocial{
        margin-bottom: 2.5%;
    }

                    /*              CSS Article                 */
    #boxCategory{
        font-size: 1.5em;
    }
    #boxPageArticle{
        width: 90%;
        background-color: #AFA7A7;
        margin: 5% auto 0;
        border-radius: 15px 15px 0 0 ;
    }

    #boxTableauCartesArticle{
        margin-top: 10%;
    }
    .tableauCartesArticle{
        height: 20%;
        background-color: #574d4d2f;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0%;
      
    }

    .titleTableauArticle{
        text-align: center;
        font-size: 2em;
    }

    .texteTableauArticle{
        text-align: justify;
    }
    /*                                          CSS contact                             */

    .pageContact{
        display: flex;
        flex-direction: row ;
        align-items:baseline;
        color: #D9D9D9;
        font-size: 1.25em;
    }
    #boxIntroContact{
        width: 50%;
    }
    #contactForm {
        width: 45%;
    }




}
           /*                             !!!!!!!!!!!!!!!!!!!!!!!!!!!!! DESKTOP!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!                                           ¨*/
@media screen and (min-width: 1024px){
    .container{
        width: 95%;
    }
    header{
        width: 100%;
        height: 25vh;
    }
    .header-mobile{
        display: none;
    }
    .header-div-tablet {
        display: flex ;
        background-image: url("../assets/fond-tablet.png");
        width: 100%;
        margin: 0;
        min-width: 100%;
        min-height: 25vh;
        height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  
    
    .nav-desktop{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-left: 2em;
        
    }
    .nav-div-desktop{
        margin-top: -2.5%;
      
    }
    .nav-desktop a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 25px;
        margin-left: 2.5em;
    }
    .nav-desktop a:last-child{
        margin-right: 1em;
    }
    .logo-main{
        width: 170px;
        height: 170px;
        background-color: rgb(255, 255, 255);
        border: 10px solid rgba(0, 0, 0, .4);
        border-radius: 50%;
        z-index: 7;
        float: left;
        margin-left: 3em;
        overflow: auto;
        position: absolute;
        top: 0%;
    }
    header img{
        display: block;
    }

    #boxTableauCartesHome{

        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        gap:  2.5%;
        margin-bottom: 10%;
        margin-top: 5%;
    }
    .tableauCartesHome{
        width: 100%;
        height: 100%;
        
        
    
    }
    .imageTableauHome{
        height: 100%;
    }
    #boxLogoTitreHome{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        text-align: left;
        height: 70vh;
    }
    
    #boxIntro{
        text-align: left;
        
    }
    #boxLogo {
        width:75%;
        position: relative;
        left: -5%;
        
}
    
    #boxIntro p {
        text-align: justify;
        width: 100%;
    }
    #footNav{
        flex-direction: row;
        justify-content: space-evenly;
        width: none;
        height: 10%;
        align-self:center;
        margin-bottom: 1.5%;
    }
    #footNav a {
        margin: 0 10%;
    }
   
                    /*              CSS Article                 */
    #boxCategory{
        font-size: 1.5em;
    }
    #boxPageArticle{
        width: 90%;
        background-color: #AFA7A7;
        margin: 5% auto 0;
        border-radius: 15px 15px 0 0 ;
    }

    #boxTableauCartesArticle{
        margin-top: 10%;
    }
    .tableauCartesArticle{
        height: 20%;
        background-color: #574d4d11;
        border-radius: 15px;
      
    }

    .titleTableauArticle{
        text-align: center;
        font-size: 3.5em;
    }

    

    /*                                              CSS Nav                                             */
    .nav-desktop{
        margin-top:10vh;
        display: flex;
        align-items:flex-start;
        justify-content: space-evenly;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        font-weight: 700;
        width: 50%;
        margin-left: 50%;
    }
    .nav-desktop a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 1.75em;
        margin-left: 30px;
    }


    /*                                          CSS contact                             */

.pageContact{
    display: flex;
    flex-direction: row ;
    align-items:baseline;
    color: #D9D9D9;
    font-size: 1.25em;
}
#boxIntroContact{
    width: 50%;
}
#boxIntroContact h1{
    margin-bottom: 2.5em;
    font-size: 2.5em;
}
#contactForm {
    width: 45%;
}

#boxLogoFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0; 
}
#boxLogoFooter p{
    align-self: center;
}
#logoFooter{
    margin: 0;
}
footer{
    justify-content: space-around;
    
}
}
/*css detailArticle*/
 /*#glob{
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: ;
 }*/
 #glob{
    margin: 25px;
    display: flex;
    align-items: center;
 }
article{
    background-color: #AFA7A7;
}
 #bar{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
 }
 img{
display: flex;
flex-flow: row wrap;
    width: 271px;
    height: 217px;
 }
 